/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
main {
  background-color: #194d57;
  height: 200px;
  width: 100%;
  display: block;
}
.logo {
  width: 30%;
  position: relative;
  left: 200px;
}
.classes {
  color: #acbbc8;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 30px;
   left: 225px;
}
.privates {
  color: #809d92;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 65px;
   left: 225px;
}
.contact {
  color: #abbbc7;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 100px;
  left: 225px;
}

.navbar {
  background-color: #0f2e34;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
}
.pictures {
  display: block;
  background-color: #e5e8e9;
}
.photo1 {
  display: block;
  background-color: #e5e8e9;
}
.photo2 {
  display: block;
  background-color: #e5e8e9;
}
.photo3 {
  display: block;
  background-color: #e5e8e9;
}

.info {
  background-color: #e5e8e9;
  display: block;
  height: 1440px;
  width: 100%;
}
h1 {
  background-color: #e5e8e9;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  color: #7e9c9e;
  letter-spacing: 5px;
  position: relative;
  top: 10px;
  display: block;
  margin: 0;
  text-align: center;
}
.hr1 {
  border: 1px solid #7e9c9e;
  position: relative;
  top: 5px;
  right: 2px;
  width: 200px;
  align-items: center;
}
.offerimage1,
.offerimage2,
.offerimage3 {
  display: none;
}

h2 {
  font-family: "Heebo", sans-serif;
  color: #536d73;
  font-weight: 200;
  font-size: 0.8em;
  text-align: center;
  width: 90%;
  position: relative;
  left: 20px;
  top: 10px;
}
.box1home {
  border: 1px solid #9dc1c3;
  width: 90%;
  position: relative;
  left: 30px;
  top: 20px;
  height: 240px;
}
.offerimage1home, .offerimage2home, .offerimage3home {
  display: none;
}
.box2home {
  border: 1px solid #194d57;
  width: 100%;
  position: relative;
  left: 0px;
  top: 40px;
  height: 210px;
}

.box3home {
  border: 1px solid #6d8274;
  width: 100%;
  position: relative;
  left: 0px;
  top: 60px;
  height: 210px;
}
.aboutus {
  display: none;
}
.hr9 {
  display: none;
}
.hr2 {
  border: 1px solid #7e9c9e;
  position: relative;
  top: 500px;
  right: 7px;
  width: 300px;
}
.text4 {
  text-align: center;
  width: 80%;
  position: relative;
  left: 40px;
  top: 530px;
}
.hr3 {
  border: 1px solid #7e9c9e;
  position: relative;
  top: 550px;
  right: 7px;
  width: 300px;
}
.title4 {
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  color: #57919c;
  font-size: 2.2em;
  position: relative;
  top: 580px;
  left: 60px;
  width: 80%;
  text-align: left;
  letter-spacing: 5px;
}
.hr4 {
  border: 1px solid #7e9c9e;
  position: relative;
  top: 610px;
  right: 7px;
  width: 300px;
}
.member {
  font-weight: medium;
  font-size: 2em;
  letter-spacing: 0px;
  position: relative;
  top: 640px;
  left: -5px;
}
.hr5 {
  border: 1px solid #7e9c9e;
  position: relative;
  top: 670px;
  right: 7px;
  width: 300px;
}
.footer {
  background-color: #194d57;
  height: 300px;
}
.maillogo {
  max-width: 40px;
  position: relative;
  left: 230px;
  top: 16.5px;
}
.instalogo {
  max-width: 19px;
  position: relative;
  left: 245px;
  top: 10px;
}
.phonenumber {
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  font-size: 0.8em;
  text-align: center;
  position: relative;
  top: 15px;
  left: 25px;
}

.footerinfo1 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  font-size: 0.7em;
  text-align: center;
  position: relative;
  top: 20px;
  background-color: #194d57;
  line-height: 20px;
}

.footerinfo2 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  font-size: 0.7em;
  text-align: center;
  position: relative;
  top: 20px;
  background-color: #194d57;
  line-height: 20px;
}
.footerinfo3 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  font-size: 0.7em;
  text-align: center;
  position: relative;
  top: 20px;
  background-color: #194d57;
  line-height: 20px;
}
.hr6 {
  width: 90px;
  position: relative;
  top: 15px;
}
.hr7 {
  width: 90px;
  position: relative;
  top: 15px;
}
.hr8 {
  width: 40px;
  position: relative;
  top: 15px;
  left: -1px;
}
.copyright {
  max-width: 10px;
  display: inline;
  position: relative;
  top: 2px;
}
.footerinfo4 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  font-size: 0.6em;
  text-align: center;
  position: relative;
  top: 20px;
  background-color: #194d57;
  line-height: 50px;
}
/* classes page */
.info2 {
  display: block;
  height: 3060px;
  width: 100%;
  background-color: #e5e8e9;
}

.offerimage3, .offerimage1classes, .offerimage2classes, .offerimage3classes {
  display: none;
}
.text1,
.text2,
.text3,
.text5,
.text6,
.text7,
.text8,
.text9,
.text10,
.text11,
.text12,
.text13,
.text14 {
  text-align: center;
  width: 90%;
  position: relative;
  left: 20px;
}
.box1 {
  border: 1px solid #9dc1c3;
  width: 90%;
  height: 280px;
  position: relative;
  left: 25px;
  top: 30px;
  align-items: center;
}
.title2 {
  position: relative;
  top: 10px;
  left: 100px;
  width: 60%;
}
.box2 {
  border: 1px solid #194d57;
  width: 90%;
  height: 230px;
  position: relative;
  left: 25px;
  top: 60px;
}
.title3 {
  text-align: center;
  width: 60%;
  position: relative;
 left: 100px;
}
.box3 {
  border: 1px solid #6d8274;
  width: 90%;
  height: 230px;
  position: relative;
  left: 25px;
  top: 90px;
}
.title5 {
  text-align: center;
  letter-spacing: 5px;
}
.box5 {
  border: 1px solid #9dc1c3;
  width: 90%;
  position: relative;
  left: 25px;
  top: 120px;
  height: 250px;
}
.title6 {
  text-align: center;
}
.box6 {
  border: 1px solid #194d57;
  width: 90%;
  height: 200px;
  position: relative;
  left: 25px;
  top: 150px;
}
.title7 {
  width: 70%;
  text-align: center;
  position: relative;
  left: 80px;
}
.box7 {
  border: 1px solid #6d8274;
  width: 90%;
  height: 220px;
  position: relative;
  left: 25px;
  top: 180px;
}
.box8 {
  border: 1px solid #9dc1c3;
  width: 90%;
  height: 215px;
  position: relative;
  left: 25px;
  top: 210px;
}
.box9 {
  border: 1px solid #194d57;
  width: 90%;
  height: 180px;
  position: relative;
  left: 25px;
  top: 240px;
}
.box10 {
  border: 1px solid #6d8274;
  width: 90%;
  height: 160px;
  position: relative;
  left: 25px;
  top: 270px;
}
.box11 {
  border: 1px solid #9dc1c3;
  width: 90%;
  height: 110px;
  position: relative;
  left: 25px;
  top: 300px;
}
.box12 {
  border: 1px solid #194d57;
  width: 90%;
  height: 130px;
  position: relative;
  left: 25px;
  top: 330px;
}
.box13 {
  border: 1px solid #6d8274;
  width: 90%;
  height: 235px;
  position: relative;
  left: 25px;
  top: 360px;
}
.box14 {
  border: 1px solid #9dc1c3;
  width: 90%;
  height: 200px;
  position: relative;
  left: 25px;
  top: 390px;
}
.footer2 {
  background-color: #194d57;
}

.laptopimage5,
.laptopimage6 {
  display: none;
}
.hrclasses {
  display: none;
}
/* PRIVATES PAGE */
.privatesimage {
  display: none;
}
.offerimage1privates {
  display:none;
}
.info3 {
  background-color: #e5e8e9;
  height: 1900px;
}
.title15,
.title19 {
  width: 90%;
  position: relative;
  left: 25px;
}
.text15 {
  text-align: center;
  width: 95%;
  position: relative;
  left: 10px;
}
.box15 {
  border: 1px solid #57919c;
  width: 90%;
  position: relative;
  left: 25px;
  top: 25px;
  height: 240px;
}
.title16, .title17 {
  text-align: center;
}
h3 {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #536d73;
  text-align: center;
  width: 95%;
  letter-spacing: 5px;
}
.boldtitle16 {
  position: relative;
  left: 15px;
}

.text16 {
  text-align: center;
  width: 95%;
  position: relative;
   left: 10px;
  top: -5px;
}

.box16 {
  border: 1px solid #9dc1c3;
  width: 90%;
  position: relative;
  left: 25px;
  top: 50px;
}
.text17,
.text18 {
  text-align: center;
  width: 95%;
  position: relative;
  top: 10px;
  left: 10px;
}
.boldtitle17,
.boldtitle18 {
  text-align: center;
  width: 95%;
  position: relative;
  left: 10px;
  letter-spacing: 5px;
  top: 10px;
}

.box17 {
  border: 1px solid #194d57;
  width: 90%;
  position: relative;
  left: 25px;
  top: 75px;
  height: 520px;
}

.box18 {
  border: 1px solid #6d8274;
  width: 90%;
  position: relative;
  left: 25px;
  top: 100px;
  height: 290px;
}
.box19 {
  border: 1px solid #57919c;
  width: 90%;
  position: relative;
  left: 25px;
  top: 125px;
  height: 250px;
}
.footer3 {
  background-color: #194d57;
  height: 300px;
}
/* CONTACT PAGE */
.info4 {
  background-color: #e5e8e9;
  height: 1700px;
}
.box20 {
  border: 1px solid #194d57;
  width: 90%;
  height: 170px;
  position: relative;
  left: 25px;
  top: 25px;
}
.contactform {
  font-family: "Raleway", sans-serif;
  background-color: #9dc1c3;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 50px;
  height: 550px;
}
.fname {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 20px;
  height: 40px;
}

.lname {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 40px;
  height: 40px;
}
.email {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 60px;
  height: 40px;
}
.subject {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 80px;
  height: 40px;
}
.submit {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  top: 10px;
  width: 90%;
  background-color: white;
  color: #9dc1c3;
  border: none;
  top: 110px;
  height: 40px;
}
.title21 {
  color: #194d57;
  position: relative;
  top: 70px;
  left: 15px;
  text-align: center;
  letter-spacing: 5px;
  width: 95%;
  font-size: 2.2em;
  font-weight: 500;
}
.text21 {
  color: #194d57;
  text-align: center;
  position: relative;
  top: 60px;
}
.text22 {
  color: #194d57;
  text-align: center;
  position: relative;
  top: 60px;
  left: 10px;
}
.boldtitle2,
.boldtitle3 {
  color: #194d57;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  position: relative;
  left: 10px;
  top: 60px;
}
.title22 {
  font-size: 2em;
  text-align: center;
  font-weight: medium;
  letter-spacing: 5px;
}

.box22 {
  border: 1px solid #194d57;
  font-size: 1em;
  text-align: center;
  width: 95%;
  position: relative;
  left: 12px;
  top: 70px;
  height: 120px;
}
.container2 {
  letter-spacing: 5px;
  position: relative;
  top: 80px;
}
.fname1 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 120px;
  height: 40px;
}
.email1 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 140px;
  height: 40px;
}
.container4 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  display: block;
  position: relative;
  left: 20px;
  width: 90%;
  border: none;
  top: 160px;
  height: 40px;
  color: #194d57;
  background-color: white;
}
.footer4 {
  background-color: #194d57;
  height: 300px;
  position: relative;
  top: 180px;
}
/* laptop view */
@media (min-width: 768px) {
  .logoimage {
    position: relative;
    left: 300px;
    top: -15px;
    margin: 0px;
    display: block;
  }
  .navbar {
    width: 100%;
    margin: 0px;
    display: block;
    height: 90px;
    position: relative;
    top: -40px;
  }
  .classes {
    position: relative;
    left: 100px;
    letter-spacing: 10px;
    font-size: 1.3em;
  }
  .privates {
    position: relative;
    left: 640px;
    top: 0px;
    letter-spacing: 10px;
    font-size: 1.3em;
  }
  .contact {
    position: relative;
    left: 1180px;
    top: -30px;
    letter-spacing: 10px;
    font-size: 1.3em;
  }
  .pictures {
    display: none;
  }
  h1 {
    font-size: 2.5em;
    position: relative;
    left: -560px;
    top: 20px;
  }

  .hr1 {
    position: relative;
    left: -560px;
    top: 30px;
    width: 250px;
  }
  .title1home {
    font-size: 2em;
    position: relative;
    left: -120px;
    top: -45px;
    text-align: left;
    letter-spacing: 5px;
    width: 70%;
  }
  h2 {
    position: relative;
    left: -710px;
    top: 50px;
    text-align: left;
    width: 95%;
    font-size: 1.1em;
    font-family: "Heebo", sans-serif;
    color: #536d73;
    font-weight: medium;
  }
  .box1home {
    position: relative;
    top: 30px;
    left: 40px;
    width: 65%;
    height: 280px;
    border: 1px solid #9dc1c3;
    position: relative;
    left: 40px;
    top: 50px;
  }
 
  .offergallery {
    display: grid;
    grid-template-columns: 80vh 110vh;
    grid-template-rows: 80vh 30vh;
    column-gap: 20px;
    row-gap: 15px;
    margin: 60px;
    justify-items: center;
  }
  .offerimage1home {
    display: block;
    width: 31.5%;
    position: relative;
    left: 1040px;
    top: -1025px;
  }
  .title2home {
    position: relative;
    bottom: 20px;
    left: 210px;
    text-align: right;
    display: block;
    font-size: 2em;
    width: 70%;
  }
  .text2home {
    font-size: 1.1em;
    width: 95%;
    position: relative;
    top: 20px;
    left: 10px;
    text-align: right;
    display: block;
    width: 95%;
  }
  .box2home {
    position: relative;
    top: -975px;
    left: 540px;
    width: 90%;
    width: 800px;
    height: 288px;
    display: block;
    border: 1px solid #194d57;
  }
  .offerimage2home {
    max-width: 35%;
    display: inline;
    position: relative;
    top: -1260px;
    left: 80px;
  }
  .title3home {
    font-size: 2em;
    text-align: left;
    position: relative;
    bottom: 10px;
    left: 30px;
    font-weight: medium;
    letter-spacing: 5px;
    width: 70%;
  }
  .text3home {
    font-size: 1.1em;
    width: 95%;
    display: block;
    position: relative;
    top: 20px;
    text-align: left;
    left: 25px;
  }
  .box3home {
    position: relative;
    top: -1210px;
    left: 0px;
    width: 65%;
    width: 880px;
    height: 240px;
    border: 1px solid #6d8274;
  }
  .offerimage3home {
    display: block;
    max-width: 31%;
    position: relative;
    top: -1450px;
    left: 1005px;
  }
  .aboutus {
    font-weight: 500;
    position: relative;
    top: 740px;
    left: -560px;
    display: block;
  }
  .text4 {
    position: relative;
    top: 780px;
    left: 45px;
    text-align: left;
    width: 90%;
  }
  .title4 {
    font-size: 3em;
    position: relative;
    left: 30px;
    top: 900px;
    display: block;
    width: 50%;
    font-weight: 500;
    text-align: left;
    margin: 0;
  }
  .hr3 {
    width: 55%;
    position: relative;
    top: 850px;
    left: 210px;
  }
  .member {
    font-size: 2.8em;
    position: relative;
    top: 980px;
    left: -60px;
    display: block;
    text-align: right;
    letter-spacing: 0px;
  }
  .info {
    height: 2250px;
    display: block;
    position: relative;
    top: -40px;
  }
  .hr4 {
    width: 55%;
    position: relative;
    right: 300px;
    top: 950px;
  }
  .hr2 {
    width: 20%;
    position: relative;
    top: 755px;
    left: -530px;
    
  }
  .hr5 {
    width: 55%;
    position: relative;
    top: 1020px;
    left: 240px;
  }
  .maillogohome {
    max-width: 4%;
    position: relative;
    left: 730px;
    top: 58px;
    display: inline;
  }
  .instalogohome {
    max-width: 1.85%;
    position: relative;
    left: 600px;
    top: 50px;
  }
  .footer {
    margin-top: 0em;
    height: 550px;
    display: block;
    position: relative;
    bottom: 0px;
  }
  .phonenumber {
    font-size: 1.2em;
    position: relative;
    top: 60px;
    left: 35px;
  }
  .footerinfo1 {
    font-size: 1.2em;
    position: relative;
    top: 10px;
    left: 15px;
    background-color: #194d57;
    line-height: 50px;
  }
  .hr6 {
    position: relative;
    top: -100px;
    width: 10%;
    left: 12px;
  }
  .footerinfo2 {
    font-size: 1.2em;
    position: relative;
    top: 60px;
    left: 15px;
    background-color: #194d57;
    line-height: 50px;
  }
  .hr7 {
    position: relative;
    top: 45px;
    width: 10%;
    left: 12px;
  }
  .footerinfo3 {
    font-size: 1.2em;
    position: relative;
    top: 60px;
    left: 15px;
    background-color: #194d57;
    line-height: 50px;
  }
  .hr8 {
    position: relative;
    top: 35px;
    left: 14px;
    width: 4%;
  }
  .footerinfo4 {
    font-size: 1em;
    position: relative;
    top: 100px;
    left: 20px;
    background-color: #194d57;
    line-height: 100px;
  }
  .copyright {
    position: relative;
    right: 10px;
    top: 2px;
    min-width: 1.2%;
  }
}

/* classes page */
@media (min-width: 768px) {
  .laptopimage1,
  .laptopimage2,
  .laptopimage3 {
    display: none;
  }
  .offerimage1classes {
    display: block;
    position: relative;
    left: 40px;
    top: 49px;
    width: 25.5%;
  }
  .title1 {
    position: relative;
    top: 10px;
    width: 40%;
    left: 550px;
    text-align: right;
  }
  .text1 {
    display: block;
    position: relative;
    top: 10px;
    left: 15px;
    text-align: right;
    width: 96%;
  }
  .box1 {
    position: relative;
    top: -305px;
    left: 450px;
    width: 66%;
    height: 355px;
  }
  .title2 {
    position: relative;
    text-align: left;
    left: 25px;
    top: 10px;
  }
  .text2 {
    text-align: left;
    width: 96%;
    position: relative;
    top: 10px;
  }
  .box2 {
    position: relative;
    top: -260px;
    left: 40px;
    width: 94%;
    height: 200px;
  }
  .title3 {
    position: relative;
    left: 510px;
    top: 10px;
    text-align: right;
  }
  .text3 {
    text-align: right;
    width: 96%;
    position: relative;
    top: 20px;
    left: 25px;
  }
  .box3 {
    position: relative;
    top: -210px;
    width: 94%;
    height: 200px;
    left: 40px;
  }
  .title5 {
    position: relative;
    left: 30px;
    text-align: left;
    width: 70%;
    top: 15px;
  }
  .text5 {
    width: 96%;
    position: relative;
    left: 30px;
    top: 20px;
    text-align: left;
  }
  .box5 {
    position: relative;
    left: 40px;
    top: -160px;
    width: 94%;
    height: 200px;
  }
  .title6 {
    position: relative;
    left: 510px;
    top: 15px;
    width: 60%;
    text-align: right;
  }
  .text6 {
    text-align: right;
    width: 96%;
    position: relative;
    left: 30px;
  }
  .box6 {
    position: relative;
    left: 40px;
    top: -110px;
    width: 94%;
    height: 210px;
  }
  .title7 {
    position: relative;
    left: -10px;
    top: 15px;
    
  }
  .text7 {
    text-align: left;
    width: 96%;
    position: relative;
    left: 20px;
  }
  .box7 {
    position: relative;
    left: 40px;
    top: -300px;
    width: 70%;
    height: 240px;
  }
  .offerimage2classes {
    width: 17.4%;
    position: relative;
    left: 1120px;
    top: -58px;
    display: block;
  }
  .title8 {
    position: relative;
    left: 650px;
    display: block;
    width: 50%;
    text-align: right;
    top: 15px;
  }
  .text8 {
    text-align: right;
    width: 97%;
    position: relative;
    left: 25px;
    top: 10px;
  }
  .box8 {
    position: relative;
    left: 40px;
    top: -250px;
    width: 95%;
    width: 1370px;
    height: 220px;
  }
  .title9 {
    position: relative;
    left: 25px;
    top: 10px;
    text-align: left;
    width: 50%;
  }
  .text9 {
    text-align: left;
    width: 96%;
    position: relative;
    left: 25px;
    top: 10px;
  }
  .box9 {
    position: relative;
    left: 40px;
    top: -200px;
    width: 93.5%;
    height: 190px;
  }
  .title10 {
    position: relative;
    left: 1050px;
    top: 10px;
    text-align: right;
    width: 20%;
  }
  .text10 {
    text-align: right;
    width: 96%;
    position: relative;
    left: 25px;
    top: 10px;
  }
  .box10 {
    position: relative;
    left: 40px;
    top: -145px;
    width: 93.5%;
    height: 170px;
  }
  .title11 {
    position: relative;
    left: 25px;
    top: 10px;
    text-align: left;
    width: 20%;
  }
  .text11 {
    text-align: left;
    width: 96%;
    position: relative;
    left: 25px;
    top: 10px;
  }
  .box11 {
    position: relative;
    left: 40px;
    top: -90px;
    width: 93.5%;
    height: 140px;
  }
  .title12 {
    position: relative;
    left: 930px;
    top: 10px;
    text-align: right;
    width: 30%;
  }
  .text12 {
    text-align: right;
    width: 96%;
    position: relative;
    left: 25px;
    top: 10px;
  }
  .box12 {
    position: relative;
    left: 40px;
    top: -35px;
    width: 93.5%;
    height: 160px;
  }
  .title13 {
    position: relative;
    left: 25px;
    top: 10px;
    text-align: left;
    width: 50%;
  }
  .text13 {
    text-align: left;
    width: 96%;
    position: relative;
    left: 25px;
    top: 10px;
  }
  .box13 {
    position: relative;
    left: 40px;
    top: 25px;
    width: 93.5%;
    height: 210px;
  }
  .title14 {
    position: relative;
    left: 295px;
    top: 10px;
    text-align: right;
    width: 60%;
  }
  .text14 {
    text-align: right;
    width: 96%;
    position: relative;
    left: 10px;
    top: 10px;
  }
  .box14 {
    position: relative;
    left: 500px;
    top: -165px;
    width: 62%;
    height: 230px;
  }
  .offerimage3classes {
    width: 17%;
    position: relative;
    top: 85px;
    left: 120px;
    display: block;
  }
  .hrclasses {
    border: 1px solid #7e9c9e;
    width: 80%;
    position: relative;
    bottom: 100px;
    display: block;
  }
  .info2 {
    height: 3500px;
    position: relative;
    top: -40px;
  }

  .footer2 {
    background-color: #194d57;
    height: 500px;
    display: block;
    position: relative;
    top: -60px;
  }
  .maillogo {
    position: relative;
    left: 600px;
  }
  .instalogo {
     position: relative;
    left: 630px;
  }
}
/* PRIVATES PAGES */
@media (min-width: 768px) {
  .info3 {
    background-color: #e5e8e9;
    height: 1800px;
    display: block;
    position: relative;
    top: -100px;
  }
  .title15 {
    position: relative;
    left: 30px;
    text-align: left;
  }
  .text15 {
    position: relative;
    left: 25px;
    text-align: left;
    width: 93%;
    top: 20px;
  }
  .box15 {
    position: relative;
    width: 50%;
    height: 360px;
    width: 600px;
    left: -55px;
  }

  .offerimage1privates {
    width: 60.9%;
    position: relative;
    left: -100px;
    top: 25.5px;
    display: block;
  }
  .title16,
  .title17 {
    position: relative;
    text-align: center;
    left: 0px;
    top: 10px;
  }
  .text16 {
    text-align: center;
    width: 95%;
    position: relative;
    left: 5px;
    top: 0px;
    line-height: 3.5;
  }
  .boldtitle16 {
    width: 95%;
    position: relative;
    left: 5px;
    top: 0px;
    letter-spacing: 5px;
    line-height: 3.5;
  }
  .box16 {
    position: relative;
    left: 25px;
    top: -550px;
    width: 30%;
    height: 850px;
  }
  .text17 {
    width: 95%;
    position: relative;
    left: 10px;
    top: 0px;
    line-height: 2.5;
    letter-spacing: 0px;
  }
  .boldtitle17 {
    text-align: center;
    width: 95%;
    position: relative;
    left: 10px;
    top: 0px;
    line-height: 2.5;
  }
  .box17 {
    position: relative;
    left: 470px;
    top: -1399px;
    width: 30%;
    height: 850px;
  }
  .title18 {
    position: relative;
    text-align: center;
    left: 40px;
    top: 10px;
    width: 80%;
  }
  .text18 {
    text-align: center;
    width: 95%;
    position: relative;
    left: 10px;
    top: 0px;
    line-height: 5.5;
  }
  .boldtitle18 {
    text-align: center;
    width: 95%;
    position: relative;
    left: 10px;
    top: 0px;
    letter-spacing: 9px;
    line-height: 5.5;
  }
  .box18 {
    position: relative;
    left: 915px;
    top: -2249px;
    width: 30%;
    height: 850px;
  }
  .title19 {
    position: relative;
    top: 10px;
    width: 95%;
    text-align: right;
    left: 35px;
  }
  .box19 {
    position: relative;
    top: -2190px;
    width: 94%;
    height: 220px;
  }
  .text19 {
    text-align: right;
    position: relative;
    left: 35px;
    top: 15px;
  }
  .footer {
    position: relative;
    top: -260px;
  }
}
/* CONTACT PAGE */
@media (min-width: 768px) {
  .box20 {
    width: 95%;
    position: relative;
    left: 30px;
    height: 170px;
    border: 1px solid #194d57;
  }
  .info4 {
    height: 1880px;
    position: relative;
    top: -40px;
  }

  .fname,
  .lname,
  .email,
  .subject {
    position: relative;
    left: 65px;
  }
  .submit {
    position: relative;
    left: 65px;
  }
  .title20 {
    position: relative;
    left: 25px;
    text-align: left;
    width: 40%;
  }
  .text20 {
    position: relative;
    left: 25px;
    top: 20px;
  }
  .title21 {
    position: relative;
    top: 80px;
    left: 510px;
    width: 30%;
  }
  .text21 {
    position: relative;
    top: 80px;
    left: 40px;
  }
  .boldtitle2,
  .boldtitle3 {
    position: relative;
    top: 80px;
    left: 40px;
  }
  .box22 {
    position: relative;
    top: 100px;
    left: 30px;
    height: 120px;
  }
  .title22 {
    position: relative;
    top: 10px;
    left: 600px;
    width: 50%;
    text-align: right;
  }
  .text22 {
    position: relative;
    top: 80px;
    text-align: center;
    left: 30px;
  }
  .text23 {
    text-align: right;
    position: relative;
    left: 45px;
    top: 10px;
  }
  .container2 {
    position: relative;
    left: 470px;
    top: 100px;
  }
  .container3 {
    position: relative;
    top: 20px;
    left: 65px;
  }
  .container4 {
    position: relative;
    top: 180px;
    left: 85px;
  }
  .footer4 {
    position: relative;
    top: 210px;
    height: 450px;
  }

  .footerinfo1 {
    font-size: 1.2em;
    position: relative;
    top: 60px;
    left: 0px;
  }
  .hr6 {
    position: relative;
    top: 45px;
    width: 10%;
    left: 0px;
  }
  .footerinfo2 {
    font-size: 1.2em;
    position: relative;
    top: 60px;
    left: 0px;
  }
  .hr7 {
    position: relative;
    top: 45px;
    width: 10%;
    left: 0px;
  }
  .footerinfo3 {
    font-size: 1.2em;
    position: relative;
    top: 60px;
    left: 0px;
  }
  .hr8 {
    position: relative;
    top: 45px;
    width: 4%;
    left: 0px;
  }
  .footerinfo4 {
    font-size: 1em;
    position: relative;
    top: 70px;
    left: 0px;
  }
}
